body {
    background:#ECFDF5;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#container {
    width: 446px;
    height: 550px;
    margin: 64px auto;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.025em;
    margin: 5px 0;
}

span {
    color: #10B981;
    font-family: 'Inter', sans-serif;
    display: block;
}

h2 {
    color: #6B7280;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin: 5px 0;
}
#form {
    color: #273549;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 500;
    font-style: normal;
    margin-top: 35px;
}

#length-el {
    background: #FFFFFF;
    border: 2px solid #273549;
    border-radius: 4px;
    color: #273549;
    padding: 5px 10px;
    width: 48px;
    text-align: center;
}

button {
    background: #10B981;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 50px 0 35px 0;
    padding: 9px 17px 9px 15px;
}

hr {
    border-top: 1px solid #D5D4D8;
    margin-bottom: 35px;
}

#items {
        display: flex;
        gap: 25px;
        justify-content: center;
        text-align: center;
}

.password {
    background: #273549;
    border: none;
    border-radius: 6px;
    color: #5DEF92;
    font-size: 16px;
    height: 39px;
    line-height: 39px;
    margin: 0;
    padding: 4px 16px 3px 10px;
    width: 185px;
}